# Dependencies
node_modules

# Build output
dist

# Logs
logs
*.log
npm-debug.log*

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Tests
coverage