# Database connection URL (Prisma)
DATABASE_URL="postgres://your_user:your_password@localhost:5432/your_db?sslmode=disable"
NODE_ENV=development # Set the environment to production when deploying to production

# PostgreSQL database settings on docker
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""